body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
h2{
    text-align: center;
    color: #ff0000;
    font-size: 200%;
}
.pro{
    font-size: 200%;
}
.cus{
    font-size: 200%;
}
.pur{
    font-size: 200%;
}
.emp{
    font-size: 200%;
}
a{
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s; 
}
